target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.sbtserver/
bin/
libexec/
project/target
project/.sbtserver
project/.sbtserver.lock
projectFilesBackup
projectFilesBackup1
projectFilesBackup2